name: daily
on:
  schedule:
    - cron: '00 00 * * *'
jobs:
  daily:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: 'nightly'
      - run: julia -e 'using Pkg; Pkg.add("CompatHelper")'
      - run: julia -e 'using CompatHelper; CompatHelper.main()'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COMPATHELPER_PRIV: ${{ secrets.COMPATHELPER_PRIV }}
